<div class="container">
  <div class="header">
    <div class="header-left">logo</div>
    <div class="header-center">Periodic Elements</div>
    <div class="header-right">
      <div class="header-right-upper">Seconds Left</div>
      <div class="header-right-lower">{{ secondsLeft }}</div>
    </div>
    <div class="clear"></div>
  </div>
  <table mat-table [dataSource]="dataSource" class="custom-table">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-center custom-th first-col"
      >
        No.
      </th>
      <td mat-cell *matCellDef="let element" class="text-center custom-td">
        {{ element.position || "&nbsp;" }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-center custom-th second-col"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element" class="text-center custom-td">
        {{ element.name || "&nbsp;" }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-right custom-th third-col"
      >
        Weight
      </th>
      <td mat-cell *matCellDef="let element" class="text-right custom-td">
        {{ element.weight || "&nbsp;" }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-center custom-th fourth-col"
      >
        Symbol
      </th>
      <td mat-cell *matCellDef="let element" class="text-center custom-td">
        {{ element.symbol || "&nbsp;" }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="custom-tr"
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        let odd = odd;
        let even = even;
        columns: displayedColumns
      "
      [ngClass]="{ odd: odd, even: even }"
      class="custom-tr"
    ></tr>
  </table>

  <div class="footer">
    Footer
  </div>
</div>
